.container {
  margin: auto;
  width: 1024px;
}

.images {
  display: inline;
  list-style-type: none;
}

.image {
  border: 1px solid #000000;
  height: 275px;
  width: 180px;
  padding: 2px;
  margin: 10px;
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.info {
  border-radius: 5px;
  height: 300px;
  background-color: #e9e9e9;
  margin: 2px;
  padding: 2px;
}

.details {
  font-family: cursive;
  float: left;
}

.add_cart {
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #4b5961;
  color: #ffffff;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  float: right;
  margin: 10px;
}

.bar {
  border-radius: 5px;
  background-color: #e9e9e9;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.clear {
  clear: both;
}

.price {
  font-size: 1.5em;
}

.search {
  float: right;
  font-size: 1.5em;
}

.order {
  margin-right: 10px;
}

.order span {
  font-size: 1.5em;
}

.order select {
  font-size: 1.5em;
}

#header {
  height: 200px;
  background-color: #969696;
}

#footer {
  height: 100px;
  background-color: #f0f0f0;
}
